.main h1{
    background: linear-gradient(130deg, #506bc2 ,#ba1154, #3eadc9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
.main button{
    background: linear-gradient(130deg, #506bc2 , #3eadc9);
    border: none;
    outline: none;
    color: white;
    transition: transform 1s ease;
}

.main button:hover{
    transform: scale(1.2);
}
