.main{
    width: 800px;
    min-height: 1122px;
    position: relative;
}
.zoomdiv{
    position:fixed;
    bottom: 5px;
    right: 20px;
}
.secdiv{
    background-color: #ebd6b0;
  position: absolute;
  top: 50px;
  left:20%;
  height:250px;
}
.imgdiv{
position: absolute;
left: 8%;
top:5%;
z-index: 1;
}
.emptydiv{
    height: 350px;
}
.icon{
color: #8a5b04;
}
.dot{
    width: 10px;
    height: 10px;
    background-color: #8a5b04;
}
.data{
    margin-top: 350px;
}